@model CashMachine.Models.AccountVm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to ATM</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/PageJs/Account.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <form action="~/Account/Pin" method="post">
        <div class="table" align="center">
            <div class="row">
                <br /><br /><br /><br /><br />
                <span class="panel-heading" align="center">ATM PIN</span>
                <br /><br />
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Account.pin, new { placeholder = "Enter Your 4 digit PIN", maxlength = 4 })
                    <br />&nbsp;
                </div>
            </div>
            <div class="row mt-6">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="button" value="1" onclick="pinFill(this.value)">1</button>
                    <button class="btn btn-primary" type="button" value="2" onclick="pinFill(this.value)">2</button>
                    <button class="btn btn-primary" type="button" value="3" onclick="pinFill(this.value)">3</button>
                </div>
                <div class="row mt-6">
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="button" value="4" onclick="pinFill(this.value)">4</button>
                        <button class="btn btn-primary" type="button" value="5" onclick="pinFill(this.value)">5</button>
                        <button class="btn btn-primary" type="button" value="6" onclick="pinFill(this.value)">6</button>
                    </div>
                </div>
                <div class="row mt-6">
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="button" value="4" onclick="pinFill(this.value)">7</button>
                        <button class="btn btn-primary" type="button" value="5" onclick="pinFill(this.value)">8</button>
                        <button class="btn btn-primary" type="button" value="6" onclick="pinFill(this.value)">9</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="button" value="0" onclick="pinFill(this.value)">0</button>
                    </div>
                </div>
                <br />
                @Html.HiddenFor(m => m.Account.cardNumber)
                <input id="btnok" type="submit" value="OK" />
                <input type="button" value="Clear" onclick="ClearPin()">
                <input type="button" value="Exit" onclick="@("location.href='" + Url.Action("Account", "Account") + "'")" />
                <br />
                @if (@Model.ErrorId < 0)
                {
                    <span class="field-validation-error" style="color: red" id="errorText">  @Model.ErrorMessage</span>
                }
            </div>
        </div>
    </form>

</body>
</html>
